<ion-slides page="true" #slides>
  <ion-slide class="step-one">
    <h1>Explore the Demo</h1>
    <p>
      The Ionic Master Course Demo app explores blah blah blah
    </p>
    <ion-button color="dark" (click)="slides.slideNext()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-two">
    <h1> Other stuff </h1>
    <p>
      These are also some things you can do. Compete against the world's best fantasy hockey players.
    </p>
    <ion-button color="dark" (click)="slides.slideNext()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-three">
    <h1>Get started.</h1>
    <p>Spread the word and blah blah blah blah</p>
    <ion-button color="dark" (click)="finish()">Get Started</ion-button>
  </ion-slide>
</ion-slides>